.m-accordion {

        ul{ 
            margin:0; 
            padding:0;
            list-style:none; 
            
            li { 
                margin-bottom: 18px;
                color: #444;
                font-size: 28px;
                height: 102px;
                line-height: 28px; 
                background: #fff;
                text-indent:2em; 
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                // -webkit-transition: all .3s ease-in-out; 
                // -webkit-transition: all .3s ease-in-out; 
                // -moz-transition: all .3s ease-in-out;
                // -o-transition: all .3s ease-in-out;
                // transition: all .3s ease-in-out; 

               overflow: hidden;
                cursor:pointer; 

                .link{ 
                    display: flex;
                    padding: 30px;
                    justify-content: space-between;
                    white-space:nowrap;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
                a{ 
                    display:block; 
                    margin: 1px 0; 
                    outline:none; 
                    text-decoration:none;
                    &:hover{ 
                        background:#ccc; 
                    }
                    span {
                        color: #444;
                    }
                }
                svg{ 
                    -webkit-transition: -webkit-transform .6s;
                    transition: transform .6s,-webkit-transform .6s;
                }

                .submenu {
                    // display: none;
                    // opacity: 0;
                    // visibility: hidden;
                    position: relative;
                    background: #fff;
                    // transition: all .3s;
                    // -moz-transition: all .3s;	/* Firefox 4 */
                    // -webkit-transition: all .3s;	/* Safari 和 Chrome */
                    // -o-transition: all .3s;	/* Opera */

                    li {
                        margin-bottom: 0;
                        border-bottom: 1px solid #eef;

                        &:last-child { border-bottom: none;}

                        .link{ 
                            padding: 15px 15px 15px 42px;
                        }
                    }
                }
                &.active {
                    // height: 100%;
                                                        animation: toggle .5s;
                    -moz-animation: toggle 15s forwards;	/* Firefox */
                    -webkit-animation: toggle 15s forwards;	/* Safari 和 Chrome */
                    -o-animation: toggle 15s forwards;	/* Opera */

}
                &.active svg {
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    transform: rotate(-180deg);
                }
                &.active > ul {
                    // display: block;
                    // animation: toggle 5s;
                    // -moz-animation: toggle 5s;	/* Firefox */
                    // -webkit-animation: toggle 5s;	/* Safari 和 Chrome */
                    // -o-animation: toggle 5s;	/* Opera */
                    // opacity: 1;
                    // visibility: visible;
                    // -webkit-transition: all 0.4s ease; 
                    // -moz-transition: all 0.4s ease;
                    // -o-transition: all 0.4s ease;
                    // transition: all 0.4s ease; 

                   // li:hover {
                    //     background: #b63b4d;
                    //     color: #FFF;
                    // }
                }
                
                &:last-child {
                    margin-bottom: 0;
                }

            }
         }


}
@keyframes toggle
{
    0%   {height: 25%;}
    // 25%  {height: 50%;}
    // 50%  {height: 75%;}
    100% {height: 100%;}
}

@-moz-keyframes toggle 
{
    from   {height: 25%;}
    // 25%  {height: 50%;}
    // 50%  {height: 75%;}
    to {height: 100%;}
}

@-webkit-keyframes toggle
{
    from   {height: 25%;}
    // 25%  {height: 50%;}
    // 50%  {height: 75%;}
    to {height: 100%;}
}
