<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
    <meta charset="UTF-8">
    <meta name="Description" Content="当家，是红星美凯龙旗下为用户提供透明楼盘信息与专业房产咨询服务的房产平台" />
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <script src="//<%= htmlWebpackPlugin.options.domain%>/common/flexible/0.3.4/flexible.js"></script>
    <script src="//<%= htmlWebpackPlugin.options.domain%>/common/react/15.4.1/react.min.js"></script>
    <script src="//<%= htmlWebpackPlugin.options.domain%>/common/react/15.4.1/react-dom.min.js"></script>
</head>
<body>
<div id="application"></div>
</body>
</html>
